.container {
  width: 100%;
  box-sizing: content-box;
}

header {
  width: 100%;
  border-bottom: #7d97ad solid 0.25em;
  display: flex;
  margin-bottom: 10px;
}

.hero img {
  max-width: 100%;
  margin: 10px auto;
}

.header-logo {
  width: 50%;
  /*border: red solid 1px;*/
}

#logo {
  width: 75px;
  margin: 5px 5px 0px 5px;
}


.header-title {
  width: 50%;
  /*border: red solid 1px;*/
  text-transform: uppercase;
  text-align: right;
  margin: auto;
}

h1, h2, h3, a {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  color: #2d3c49;
  margin: 0px;
}

a {
  font-size: 0.75em;
}

.flex-container {
  display: flex;
}

.work-article {
  width: 33%;
  margin: 1% auto;
  text-align: center;
}

.work-article img {
  max-width: 100%;
}

.work-article h3 {
  text-transform: uppercase;
  font-weight: 600;
}

.featured-work h2 {
  color: #7d97ad;
  margin: 10px auto;
}

footer {
  width: 100%;
  border-top: lightgrey solid 0.1em
}

.attribution {
  padding: 5px;

}

@media screen and (min-width: 900px) {

  .container {
    width: 900px;
    margin: 0 auto;
  }

}

@media screen and (max-width: 650px) {

  .flex-container {
    display: flex;
    flex-wrap: wrap;
  }

  .flex-container:after {
  content: "";
  flex: auto;
}

  .work-article {
    width: 49.5%;
  }

}
