h1, h2, h3, a, p {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  color: #2d3c49;
  margin: 0px;
}

.container {
  width: 100%;
  box-sizing: content-box;
}

header {
  width: 100%;
  border-bottom: #7d97ad solid 0.25em;
  display: flex;
  margin-bottom: 10px;
}

.hero img {
  max-width: 100%;
  margin: 10px auto;
}

.header-logo {
  width: 50%;
}

#logo {
  width: 75px;
  margin: 5px 5px 0px 5px;
}


.header-title {
  width: 50%;
  text-transform: uppercase;
  text-align: right;
  margin: auto;
}

.work-article a {
  font-size: 0.75em;
}

.flex-container {
  display: flex;
}

.work-article {
  width: 33%;
  margin: 2% auto;
  text-align: center;
}

.work-article img {
  max-width: 100%;
}

.work-article h3 {
  text-transform: uppercase;
  font-weight: 600;
}

.featured-work h2 {
  color: #7d97ad;
  margin: 10px auto;
}

footer {
  width: 100%;
  border-top: lightgrey solid 0.1em
}

.attribution {
  padding: 10px 0px;
  font-size: 0.75em;
}

.attribution p {
  padding: 0.25em 0em;
}

@media screen and (min-width: 900px) {

  .container {
    width: 900px;
    margin: 0 auto;
  }

}

@media screen and (max-width: 600px) {

  .flex-container {
    display: flex;
    flex-wrap: wrap;
  }

  /*
    Fill the flex container with empty content to force
    content to the left (c.f.
    http://stackoverflow.com/questions/18744164/flex-box-align-last-row-to-grid)
  */
  .flex-container:after {
    content: "";
    flex: auto;
  }

  .work-article {
    width: 49.5%;
  }

}
